
.editContainer__icon {
    width: 15px;
    height: 16px;
}

.deleteContainer__icon {
    width: 12px;
    height: 14px;
}

.form__iconClose {
    width: 12px;
    height: 14px;
    cursor: pointer;
}
