
// Colors
$text-primary-color: #000000;
$border-input-color: #a1a1a1;
$border-card-color: #a1a1a1;
$background-color-button: #c4c4c4;
$background-color-header: #c4c4c4;
$background-color-main: #ffffff;

// Fonts
$font-family-stack: 'Roboto', sans-serif;
$font-style-stack: normal;
$font-weight-stack: 400;
